    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

    *{
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }

    #container{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #imagem{
        height: 100%;
      
        
    }
    #imagem > img{
        height: 100%;
        
    }
    #formulario{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-around;
        align-items: start;
        padding-left: 200px;
        padding-bottom: 10px;
        background-color: hsl(0, 100%, 98%);


    }
    

    article{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: start;
        height: auto;
        width: 80%;
    }
    #titulo{
        display: flex;
        flex-direction: column;
        font-size: 5rem;
        letter-spacing: 2rem;
        font-family: "Josefin Sans";
        font-weight: 500;
        color: hsl(0, 6%, 24%);
    }
    #titulo > span{
        letter-spacing: 1rem;
        font-family: "Josefin Sans";
        font-weight: 300;
        color: hsl(0, 36%, 70%);
    }
    #paragrafo{
        font-family: "Josefin Sans";
        font-size: 20px;
        line-height: 35px;
        color: hsl(0, 36%, 70%);
        gap: 50px;
    }
    form{
        display: flex;
        width: auto;
        

    }
    #email{
        width: 450px;
        height: 60px;
        border-radius: 30px;
        font-size: 1.2rem;
        padding-left: 50px;
        font-family: "Josefin Sans";
        border: solid 2px hsl(0, 7%, 63%);
        padding-right: 200px;
        &:user-invalid{
            border: solid 2px hsl(0, 100%, 51%);
        }
        

    }
    #email::before{
        content: "";
        width: 500px;
        background-color: blueviolet;
        height: 100px;
        z-index: 123333;
    }
    #email:focus{
        border-image: none;
        outline: none;
        border: solid 2px hsl(0, 7%, 63%);
    }
    #errorIcon{
        position: relative;
        left: 100px;
    }
    
    #submit{
        width: 120px;
        margin-left: -70px;
        border-radius: 30px;
        cursor: pointer;
        border: 0;
        background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        transition: all 0.2s;
        transition-behavior: smooth;
        
    }
    #submit:hover{
        background: linear-gradient(135deg, hsl(0, 79%, 91%), hsl(0, 100%, 86%));
        
    }
    #forms{
        display: flex;
        width: auto;
        flex-direction: column;
        gap: 10px;

    }
    #error{
        font-family: "Josefin Sans";
        font-size: 1rem;
        color:  hsl(0, 93%, 68%);
    }
    #divmensage{
        margin-left: 20px
    }


 



    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');